<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main>
      <h3 th:unless="${#request.remoteUser}">
        <i style="color:red">chưa đăng nhập</i>
      </h3>
      <th:block th:if="${#request.remoteUser}">
          <h3 style="color:blue">Authentication infomation</h3>
          <ul>
           <li> user <b>[[${#request.remoteUser}]]</b> </li>
           <li> is admin? <b>[[${#request.isUserInRole('USERS')}]]</b> </li>
          </ul>
          
          <br>
          <ul th:object="${#request.userPrincipal}">
             <li>username <b>[[*{name}]]</b> </li>
             <li>roles <b>[[*{authorities}]]</b>
          
          </ul>
          
           
      </th:block>
    
    </main>
    
</body>
</html>